<div class="container">
  <div class="row">
    <h3>フォロー一覧</h3>
    <div class="col-md-8 offset-md-2">
      <%= render partial: "relationships/follow_list", users: @users %>
    </div>
  </div>
</div>
