<p class="text-center"><strong>本当に退会しますか？</strong></p>

<div class="check">
    <%= link_to "退会しない", customers_mypage_path, class: "btn btn-primary" %>
    <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "btn btn-danger" %>
</div>