<main>
  <div style="text-align: center; margin: 50px auto;">
    <%= image_tag 'pancakes-g332925933_1920.png', class:'icon'%>
  </div>

  <div class="container">
    <div class="row" style="margin: 0 auto 30px auto;">
      <h2 class="text-center">about</h2>
      <h4 class="text-center">Recommended Food はユーザがお勧めの飲食店・</h4>
      <h4 class="text-center">食べ物をシェアするSNSサイトです。</h4>
      <h4 class="text-center">ユーザの皆様が新しいお店を探す際に役立てて頂け</h4>
      <h4 class="text-center">ると幸いです。</h4>
    </div>
  </div>
</main>