<main>
  <div class="container">
    <div class="row" style="margin: 0 auto;">
      <h2 class="text-center">ようこそ！Recommended Foodへ</h2>
      <h4 class="text-center">ユーザの皆さんでお勧めのお店・食事をシェアしましょう！</h4>
      <h4 class="text-center">あなた好みの食べ物が見つかるかも知れません！</h4>
    </div>
    <div>
      
    </div>
  </div>
</main>