<main>
  <div class="container">
    <div class="row" style="margin: 30px auto;">
      <h2 class="text-center">ようこそ！Recommended Foodへ</h2>
      <h4 class="text-center">ユーザの皆さんでお勧めのお店・食事をシェアしましょう！</h4>
      <h4 class="text-center">あなた好みの食べ物が見つかるかも知れません！</h4>
    </div>

    <div style="text-align: center; margin: 50px auto;">
      <%= image_tag 'niku.jpg', class:'icon'%>
    </div>

    <div>
      <div class="base-container mw-xl">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <div>
              <h3 style="border-bottom: solid; border-color: #000000;">おすすめ</h3>
            </div>

            <div class="row justify-content-center">
              <div class="card-deck">
                <% @all_ranks.each do |rank| %>
                <%= link_to food_path(rank.id) do %>
                  <div class="col-12 col-md-2 col-lg-2 text-card-container">
                    <div class="card content-card border-dark" style="background-color: #CCFF99;">
                      <div class="card-header p-0">
                        <%= attachment_image_tag rank, :image, :fill, 130, 150, format: 'jpeg' %>
                      </div>
                      <div class="card-body d-flex align-items-center">
                        <p class="card-title text-left"><strong><%= rank.name %></strong></p>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</main>