//@import "bootstrap";
//@import "bulma";

body{
  min-height: 100vh;
  color: black;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-family: sans-serif;
}

.icon{
  width: 500px;
  height: 300px;
}

.line {
  text-decoration: underline;
}

.rating-box .ratings .fa {
  font-size: 20px;
  color: #fc0;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
}

.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}

// 元々のテキストサイズを参考に、カードの幅を決める
div.text-card-container {
  padding-top: 9px;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 50px;
}

div.content-card {
  height: 200px;
  max-width: 150px;
  margin: 0 auto;
}

div.card-header {
  height: 150px;
}
